body{
background-color:rgb(123, 323, 322)
}


h1{
color:rgb(255, 255, 255) ;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background:rgb(0, 0, 0);
}


p{
color:rgb(255, 255, 255) ;
font-family:Georgia, 'Times New Roman', Times, serif,
background:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#PUMA {
    width: 100%;
}
