body{
background-color:rgba(221, 29, 180, 0.329)9)
}


h1{
color:rgb(56, 7, 7) ;
font-family:Arial;
background:rgb(240, 199, 231);
}


p{
color:rgb(0, 0, 0) ;
font-family:Arial, Helvetica, sans-serif
background:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}