
body{
background-color:black ;
}


 h1{
color:yellow ;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
background:yellow ;
}


p{
color:white;
text-align: center;
font-family:Arial, Helvetica, sans-serif ;
font-size:arial ;
background:white (255, 255, 255) ;
}
#PUMA {
    width: 100%;
}
